@keyframes shake {
    0% {
        position: relative;
        right: 0px;
    }

    25% {
        position: relative;
        right: 2px;
    }

    50% {
        position: relative;
        right: 0;
    }

    75% {
        position: relative;
        right: 2px;
    }

    100% {
        position: relative;
        right: 0;
    }
}

.animation-shake {
    animation: shake ease-in-out 3s infinite;
    transition: all ease-in-out;
}