.btn {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &:hover {
        cursor: pointer;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.486);
        transition: 0.3s ease-in-out all;
    }
    &-light {
        background: #DCDCDC;
    }
    &-danger {
        background: #c44444;
        color: white;
    }
}